body
{
    background-color: purple;
    color: white;
    background-image: url('Taj Mahal Image.png');
    /* background-repeat: no-repeat; */
    background-size: cover;
    /* margin: 100px; */
}
table,td,th
{
    /* border: 3px solid white; */
    /* border: 3px dashed white; */
    /* border: 3px dotted white; */
    border: 3px white;
    border-style: solid;
    text-align: center;
    border-color: chartreuse;
    
}
td
{
    color: aqua;
    
}
th
{
    color: red
}
.style
{
    color:yellow;
}

*
{
    font-family: segeo ui;
    
}
button
{
    color: blue;
    border: 3px solid;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    
    

}
h1
{
    text-align: center;
}
form
{
    margin-left: 100px;
    margin-top: 50px;
}
label,input,select,textarea
{
    margin: 10px;
}
/* caption
{
    background-color: black;
    color: white;
} */